@import "@fortawesome/fontawesome-free/css/all.css";

@layer base {
    @font-face {
        font-family: 'zeefont';
        src: url('fonts/AvenirNextCyr-Light.woff2') format('woff2');
        font-weight: 200;
    }

    @font-face {
        font-family: 'zeefont';
        src: url('fonts/AvenirNextCyr-Regular.woff2') format('woff2');
        font-weight: 400;
    }

    @font-face {
        font-family: 'zeefont';
        src: url('fonts/AvenirNextCyr-Medium.woff2') format('woff2');
        font-weight: 500;
    }

    @font-face {
        font-family: 'zeefont';
        src: url('fonts/AvenirNextCyr-Bold.woff2') format('woff2');
        font-weight: 600;
    }

    @font-face {
        font-family: 'calibrifont';
        src: url('fonts/Calibri-Light.woff2') format('woff2');
        font-weight: 200;
    }

    @font-face {
        font-family: 'calibrifont';
        src: url('fonts/Calibri.woff2') format('woff2');
        font-weight: 400;
    }

    @font-face {
        font-family: 'calibrifont';
        src: url('fonts/Calibri-Bold.woff2') format('woff2');
        font-weight: 600;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.submenu {
    @apply hidden;
}